{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 2,
    "useTabs": true,
    "bracketSameLine": true,
    "importOrder": [
      "^react$",
      "^@core/(.*)$",
      "<THIRD_PARTY_MODULES>",
      "^@server/(.*)$",
      "^@ui/(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }