{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"bracketSameLine": true,
	"importOrder": [
		"^react$",
		"<THIRD_PARTY_MODULES>",
		"^@store/(.*)$",
		"^@hooks/(.*)$",
		"^@functions/(.*)$",
		"^@models/(.*)$",
		"^@datatypes/(.*)$",
		"^@helpers/(.*)$",
		"^@services/(.*)$",
		"^@components/(.*)$",
		"^[./]"
	],
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-organize-imports"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
